@font-face {font-family: RobotoRegular; src: url(../fonts/Roboto/Roboto-Regular.ttf);}
@font-face {font-family: RobotoCRegular; src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);}
@font-face {font-family: RobotoBold; src: url(../fonts/Roboto/Roboto-Bold.ttf);}

html, body {font: 16px/20px RobotoRegular; color: #262626;}

.btn-light-gray-bordered {border: 1px solid #999;  border-radius: 5px;  color: #999;  /*min-width: 110px;*/  padding: 2px;}
.btn-white-bordered {  border: 1px solid #FFF;  border-radius: 5px;  color: #FFF;  min-width: 110px;  padding: 2px;}
.btn-white-bordered:hover, .btn-white-bordered:focus  {color: #fff;}
.bottom-line {border-bottom: 1px solid #999; padding: 5px; margin-bottom: 5px; display: block; min-height: 1px; content: ""; }
.bg-light-gray-pattern {background: url("../images/patterns-light-gray.png") scroll repeat 0 0 #F2F2F2;}
.bg-g {background: url("../images/bg-g.jpg") scroll no-repeat 0 0 #F2F2F2; background-size: 100% 100%;}
.bg-s2 {background: url("../images/bg-s2.jpg") scroll no-repeat 0 0 #F2F2F2; background-size: 100% 100%;}
.bg-blue {background-color: #2d78be;}
.bg-dark-blue {background-color: #205484;}
.bg-dark {background-color: #323232; color: #fff;}

.icon {display:inline-block; width:18px; height:18px}
.icon_landing {background: url("../images/icon_landing.png") no-repeat center center; background-size: 100% 100%;}

header {margin-bottom: 15px;}
header .bottom-line {margin-bottom: 25px;}
header .bg-dark {padding: 5px 0; margin-bottom: 25px;}
header .menu-list {margin: 3px 20px 0 0; display: inline-block; }

.phone-top {padding: 0 10px 0 25px; font-size: 20px; font-family: RobotoCRegular; background: url("../images/icon-talk2.png") scroll no-repeat 0 50% transparent; position: relative; top: 3px;}

#menu {margin-top: 12px; position: relative;}
#menu ul {list-style: none;}
#menu ul li {display: inline-block; position: relative; padding: 2px 10px; }
#menu ul li a {text-decoration: none; color: #4c4c4c; font-family: RobotoCRegular; font-size: 18px; white-space: nowrap; padding: 0 0 5px;}
#menu ul li a.active {border-bottom: 2px solid #000;}
#menu ul li a:hover {color: #f6693c; border-bottom: 2px solid #f6693c;}
#menu ul li a.active:hover {border-bottom: 2px solid #f6693c; color: #f6693c;}
#menu ul li.parent ul {display: none; position: absolute;left:0px; padding: 15px 0 0 10px; z-index: 1; box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);}
/*#menu ul li.parent:hover ul {display: block; left: 0; background-color: #FFF;}*/
#menu ul li.parent ul li {padding: 10px 5px; display: block; text-align: left;}
#menu ul li.l1.parent {background: url("../images/icon-arrow-down.png") scroll no-repeat 99% 10px transparent; }
#menu ul.l2 {display: none; background:#fff}

.navbar-toggle {border-color: #ddd; float:left; margin-left:15px;}
.navbar-toggle .icon-bar {background: #fff;}

#cities_index {}
#cities_index .city {height: 390px; padding:50px;}
#cities_index .info {width: 100%; height: 280px; padding:100px 0; background-color: rgba(0,0,0,0.3); color: #FFF;
    text-align: center; border: 2px solid #FFF; margin:auto; position: relative;
    font-family: Georgia; font-size: 28px; font-style: italic;}
#cities_index .info .name {padding-top: 64px; line-height: normal;}
#cities_index .info .cities_index_search {position: absolute; bottom: -17px; width:100%; left: 0px; text-align:center}
#cities_index .info .btn {width:200px; font: normal 14px/18px Roboto; text-transform: uppercase;}


#cities_images {padding: 0; margin-bottom: 40px;}
#cities_images .cities_blocks {display: table; width: 100%;}
#cities_images .cities_blocks .city_img {width: 50%; display: table-cell; position: relative; height: 390px; background-size: cover; vertical-align: middle; text-align: center;}
#cities_images .cities_blocks .city_img img {width: 100%; height: 390px;}
#cities_images .cities_blocks .city_img .info {width: 50%; height: 50%; background-color: rgba(0,0,0,0.3); color: #FFF; text-align: center; vertical-align: middle; border: 2px solid #FFF; margin: 0 auto; position: relative; font-family: Georgia; font-size: 28px; font-style: italic;}
#cities_images .cities_blocks .city_img .info .name {position: relative; top: 64px; line-height: normal;}
#cities_images .cities_blocks .city_img .info .btn {position: absolute; bottom: -17px; min-width: 50%; left: 25%; font: normal 14px/18px Roboto; text-transform: uppercase;}

.swiper-slides { margin-bottom: 30px; padding-bottom: 40px}
.swiper-slides .img {position: relative;}
.swiper-slides .img img {width: 100%; /*max-height: 415px;*/}
.swiper-slides .img .city {background-color: rgba(0,0,0,0.6); color: #FFF; font-family: Georgia; font-style: italic; padding: 5px 20px; position: absolute; width: 100%; display: block; box-sizing: border-box; bottom: 0; left: 0;}
.swiper-slides .info {padding: 10px 20px;}
.swiper-slides .info .name a {font-family: RobotoRegular; font-size: 18px; color: #215584; margin-bottom: 5px;}
.swiper-slides .info .desc {font-family: RobotoRegular; font-size: 14px; color: #262626;}
.swiper-slides .info .btn {margin-top: 10px;}
.swiper-slides .courtesy {color:#d6d6d6; font-size:10px}
.swiper-slides .card {border: 1px solid #e6e6e6; padding-bottom: 20px; min-height: 490px;}
.swiper-slides .swiper-pagination { bottom: 0px;  }
.swiper-pagination-bullet {  background: #b2b2b2 none repeat scroll 0 0;  height: 12px;  width: 12px;}
.swiper-pagination-bullet-active {background-color: #f6693c;}
.swiper-pagination-bullet:hover {background-color: #ff974d;}

.h3 {margin-bottom: 30px; text-align: center; font-family: Georgia; font-style: italic; font-size: 32px; background: url("../images/h-line.png") scroll repeat-x 0 50% transparent;}
.h3 span {padding: 5px; background: #FFF;}
.h3 h1,
#shop .h3 h1 {padding: 5px; background: #FFF; font-family: Georgia; font-style: italic; font-size: 32px; display:inline-block}
.page-header {border: 0; font: italic 32px/42px Georgia; margin-top: 20px;}
.h4 {margin-bottom: 20px; text-align: center; font-family: Georgia; font-style: italic; font-size: 24px; background: url("../images/h-line.png") scroll repeat-x 0 50% transparent;}

h5 {margin-bottom: 30px; text-align: center; font-family: Georgia; font-style: italic; font-size: 32px; background: url("../images/h-line.png") scroll repeat-x 0 50% transparent;}
h5 span {padding: 5px; background: #FFF;}

.widget-subscribe-1 {padding: 90px 0; text-align: center;}
.widget-subscribe-1 .info  {font: 24px/34px RobotoCRegular; color: #4c4c4c;}
.widget-subscribe-1 .thanks {font: italic 30px/36px Georgia; }
.widget-subscribe-1 form {margin: 20px auto;}
.widget-subscribe-1 form input.form-control {width: 380px;}
.widget-subscribe-1 form .btn {min-width: 150px; text-align: center; text-transform: uppercase;}

.widget-subscribe-2 {padding: 90px 0; /*color:#fff; /*text-align: center;*/}
.widget-subscribe-2 .info  {font: 24px/34px RobotoBold; /*color: #FFF;*/}
.widget-subscribe-2 .thanks {font: italic 44px/74px Georgia; /*color: #FFF;*/}
.widget-subscribe-2 .thanks h2 {font: italic 44px/74px Georgia; margin:0; padding:0}
.widget-subscribe-2 form {margin: 20px auto;}
/*.widget-subscribe-2 form input.form-control {width: 380px; width: 380px; background: transparent none repeat scroll 0 0; border-radius: 5px; border-color: #fff;}
*/
.widget-subscribe-2 form .btn {min-width: 150px; text-align: center; text-transform: uppercase;}
.widget-subscribe-2 form ::-moz-placeholder { /* Mozilla Firefox 19+ */   color:    #FFF !important;}
.widget-subscribe-2 form ::-webkit-input-placeholder { /* WebKit browsers */    color:    #FFF !important;}
.widget-subscribe-2 form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */   color:    #FFF !important;}
.widget-subscribe-2 form :-ms-input-placeholder { /* Internet Explorer 10+ */color:    #FFF !important;}

.menu_normal .nav > li > a {  background-color: #eee;  text-decoration: none; text-transform: uppercase; color: #262626; font-size: 24px; min-width: 150px; text-align: center; padding: 5px;}
.menu_mobile .nav > li > a {text-decoration:none; text-transform: uppercase; color:#fff; font-size:24px; padding:5px;}
.menu_mobile .nav > li.l2 {padding-left:15px}


.tab-content > .tab-pane {margin: 25px auto; width: 95%;}

#search-offers {position: relative; padding-bottom: 35px; margin-bottom: 5px; border-bottom: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6; padding-top: 35px;}
#search-offers #form-switch {position: absolute; top: 10px; right: 0; }
#search-offers #form-switch .switch-control {font-family: RobotoRegular; font-size: 14px; color: #215584; cursor: pointer; position: relative; top: 2px;}
#search-offers #form-switch .switch-control.active {color: #4c4c4c; pointer-events: none;}
#search-offers label {font-weight: normal;}
#search-offers .form-control {margin-bottom: 15px;}
#search-offers .form-control[disabled], #search-offers .form-control[readonly], #search-offers fieldset[disabled] .form-control {background: #FFF;}
#search-offers .btn-group {display: block;}
#search-offers .btn-group .multiselect {display: block; width: 100%; text-align: left; position: relative;}
#search-offers .btn-group .multiselect b.caret {position: absolute; right: 20px; top: 14px; border: 0;}
#search-offers .btn-group .multiselect b.caret:before {
    display: inline-block; content: "";
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    position: absolute; top: 5px; left: 0;
}
#search-offers .btn-group .multiselect b.caret:after {
    display: inline-block; content: "";
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    position: absolute; bottom: 0; left: 0;
}

#search-offers .btn-group .dropdown-menu {position: absolute; top: 36px; left: 0; width: 100%; max-height: 260px; overflow-y: scroll;}
/*
#search-offers .btn-group .dropdown-menu::-webkit-scrollbar{    width:4px;    background-color:#cccccc;}
#search-offers .btn-group .dropdown-menu::-webkit-scrollbar-thumb{background-color:#B03C3F;border-radius:8px;}
#search-offers .btn-group .dropdown-menu::-webkit-scrollbar-thumb:hover{ background-color:#BF4649;border:1px solid #333333;}
#search-offers .btn-group .dropdown-menu::-webkit-scrollbar-thumb:active{background-color:#A6393D;border:1px solid #333333;}
#search-offers .btn-group .dropdown-menu::-webkit-scrollbar-track{border:0px gray solid;border-radius:8px;background: rgba(0,0,0,0.3);}
*/
#search-offers .btn-group .multiselect-search {margin-bottom: 0;}
#search-offers .btn-group .dropdown-menu li.active a {background: none; color: #262626; }
#search-offers .btn-group .dropdown-menu li a {padding: 8px 0; margin: 0 10px; border-bottom: 1px solid #CCC;}
#search-offers .btn-group .dropdown-menu li:last-child a {border: 0;}
#search-offers .btn-group .dropdown-menu li .radio {padding: 5px 0 5px 3px;}
#search-offers .btn-group .dropdown-menu li:last-child .radio {border: 0;}
#search-offers .btn-group .dropdown-menu li .radio input[type=radio] {display: none;}

.input-ranges {background: url("../images/h-line.png") scroll repeat-x 0 50% transparent; display: inline-block;}
.input-ranges input {position: relative; margin-right: 10px;}
.input-ranges input:last-child {margin-right: 0;}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev { display: inline-block;  right: 20px; background: url("../images/icons-slider2-arrows.png") scroll no-repeat -40px 0 transparent; width: 40px; top: 170px;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next { display: inline-block; left: 20px; background: url("../images/icons-slider2-arrows.png") scroll no-repeat 0 0 transparent; width: 40px; top: 170px;}

.condos-container .swiper-button-next, .swiper-container-rtl .swiper-button-prev { top: 210px;}
.condos-container .swiper-button-prev, .swiper-container-rtl .swiper-button-next { top: 210px;}
.nowrap {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.toupper {text-transform: uppercase;}

.btn-warning {  background-color: #f6693c;  border-color: #f6693c;  color: #fff;}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {  background-color: #ff974d;  border-color: #ff974d;  color: #fff;}
.btn-success {  background-color: #7adf50;  border-color: #7adf50;  color: #fff;}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {  background-color: #53bc28;  border-color: #53bc28;  color: #fff;}

#pluses {padding: 80px 0; text-align: center;}
#pluses .header {font: 44px/56px RobotoCRegular; color: #FFF; margin-bottom: 35px;}
#pluses .plus {width: 290px; height: auto; display: inline-block; padding: 85px 30px 10px 30px; background: url("../images/icon-plus.png") scroll no-repeat 50% 0 transparent; overflow: hidden; color: #FFF;}
#pluses .plus .name {font: 24px/28px Georgia;}
#pluses .plus .text {font-size: 14px;}

#offers-list {padding: 35px 0;}
#offers-list #cities-tab {list-style: none; text-align: center; margin-bottom: 30px;}
#offers-list #cities-tab li {display: inline-block; margin-right: 10px;}
@media (max-width: 750px) {
    #offers-list #cities-tab li {display: block;}
}
#offers-list #cities-tab li a {color: #FFF; text-transform: uppercase; font: 30px/36px RobotoCRegular; text-decoration: none; padding: 5px 10px; border-radius: 5px;}
#offers-list #cities-tab li.active a {background-color: #205484;}

#offers-list #types-tab ul {list-style: none; text-align: center; margin-bottom: 30px; word-spacing: -5px;}
#offers-list #types-tab li {display: inline-block;}
#offers-list #types-tab li a {color: #FFF; padding: 5px 10px; font-size: 16px; font-family: RobotoRegular; text-transform: uppercase; border: 1px solid #205484; text-decoration: none; min-width: 80px; display: block; text-align: center;}
#offers-list #types-tab li.active a {background-color: #205484;}
#offers-list #types-tab li:first-child a {border-radius: 5px 0 0 5px;}
#offers-list #types-tab li:last-child a {border-radius: 0px 5px 5px 0px;}

#offers-list #regions-list ul {list-style: none; -moz-column-count: 4; column-count: 4; -webkit-column-count: 4; }
@media (max-width: 750px) {
    #offers-list #regions-list ul {-moz-column-count: 2; column-count: 2; -webkit-column-count: 2; }
}
#offers-list #regions-list li {margin-bottom: 10px;}
#offers-list #regions-list li a {color: #FFF;}

#footer {padding: 35px 0 0 0; /*20px;*/ color: #FFF;}
#footer .h2 {color: #FFF; font: 24px/32px RobotoCRegular; text-transform: uppercase;}
#footer .bottom-line {border-color: #1a446b; border-width: 2px;}
#footer .copyrights, #footer .footer-menu {padding: 15px 0;}
#footer form input, #footer form textarea {width: 100%; margin-bottom: 20px; background-color: #1a446b; border:0; color: #FFF;}
#footer form .btn {min-width: 80px; text-transform: uppercase;}

.social-icons {list-style: none;}
.social-icons li {display: inline-block; margin-right: 10px;}
.social-icons li .i {display: block; width: 32px; height: 32px; /*content: ""; background: url("../images/icons-social.png") scroll no-repeat 0 0 transparent;*/
    background: #fff center center no-repeat; border-radius: 5px;}
/*
.social-icons .i.i-fb {background-position: 0 0;}
.social-icons .i.i-in {background-position: -42px 0;}
.social-icons .i.i-tw {background-position: -84px 0;}
.social-icons .i.i-yt {background-position: -84px 0;}
.social-icons .i.i-inst {background-position: -84px 0;}
*/
.social-icons .i.i-fb {background-image: url('/templates/images/socials/ic-facebook.svg')}
.social-icons .i.i-in {background-image: url('/templates/images/socials/ic-linkedin.svg')}
.social-icons .i.i-tw {background-image: url('/templates/images/socials/ic-twitter.svg')}
.social-icons .i.i-yt {background-image: url('/templates/images/socials/ic-youtube.svg')}
.social-icons .i.i-inst {background-image: url('/templates/images/socials/ic-instagram.svg') }

.footer-menu {list-style: none;}
.footer-menu li {display: inline-block; margin-left: 10px;}
.footer-menu li a {color: #FFF; font-size: 14px; text-decoration: none; border-bottom: 1px solid #FFF;}
.footer-menu li:before {content: "|"; margin-right: 10px;}
.footer-menu li:first-child:before {content: "";}


#footer form ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFF !important;
}

#footer form ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF !important;
}
#footer form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFF !important;
}
#footer form :-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #FFF !important;
}

.slider.slider-horizontal {  height: 20px;  width: 98%; margin-bottom: 35px;}
.slider-selection {background: #215584;}
.slider-handle {background: #f6693c;}
.slider.slider-horizontal .slider-track {margin-top: 10px; background: #bfbfbf;}

.city-card {border: 1px solid #e6e6e6; margin-bottom: 30px;}
.city-card .name {color: #215584;}
.city-card .name, .city-card .info {padding: 20px;}
.city-card .info {color: #999; font-size: 18px;}
.city-card .info .listings {position: relative; top: 8px;}
.city-card .img img{width: 100%;}

section {padding-bottom: 35px;}
.bimg {height: 80px; display: block; content: ""; background-repeat: no-repeat; background-size: cover; background-attachment: scroll; margin-bottom: 20px; position: relative;}
.bimg .btn {position: relative; top: 30px; margin-right: 10px;}
.bimg .btn-white-bordered:hover {border-color: #f6683a; color: #f6683a;}


.agent-list {margin-bottom: 40px;}
.agent-list .img {border: 3px solid #e6e6e6; margin-bottom: 15px; display: block;}
.agent-list .img img {width: 100%;}
.agent-list .name {font-size: 20px; color: #4c4c4c; margin-bottom: 5px; display: block;}
.agent-list .name a {color: #4c4c4c;}
.agent-list .phone {font-size: 16px; margin-bottom: 5px; display: block;}
.agent-list .email a {font-size: 12px; color: #205484; margin-bottom: 5px; display: block;}
.agent-list .text {margin-bottom: 5px;}

#agents {}
#agents .agent-avatar {width: 100%; border: 3px solid #e6e6e6; margin-bottom: 15px;}
#agents .page-header {border: 0; font: italic 32px/42px Georgia;}
#agents .agent-name {font-size: 30px; margin-bottom: 15px;}
#agents .agent-phone, #agents .agent-email {margin-bottom: 7px;}
#agents .agent-email a {color: #205484; display: block;}

#index {padding-bottom: 0;}

#shop .page-header {border: 0; font: italic 32px/42px Georgia;}
#shop .page-header h1 {margin:0}
#shop .page-header div {display: inline-block}
#shop .page-header span {/*font: normal 16px/18px RobotoRegular; display: block;*/ font: italic 32px/42px Georgia; display: inline-block}
#shop h1 {font: italic 32px/42px Georgia; padding: 0px;	margin: 20px 0 20px;}
#shop .page-filter {font-size: 14px; padding: 10px 0; border: 1px solid #e6e6e6; border-left: 0; border-right: 0; margin-bottom: 20px;}
#shop .page-filter .control-group {position: relative; top: 7px;}
#shop .page-filter label {font-weight: normal;}
#shop .page-filter select.disabled {background-color: #f2f2f2; border: 1px solid #CCC;}
#shop .page-filter .btn {  border-radius: 5px;  padding: 7px;  position: relative;  top: -1px; border: 1px solid #ccc; color: #262626; margin-left: 10px;}
#shop .page-filter .btn:hover {border-color: #f6683a; color: #f6683a;}
#shop .page-filter .btn.active, #shop .page-filter .btn.active:hover {background-color: #ccc; box-shadow: none; border: 1px solid #ccc; color: #262626;}
#shop .page-filter .glyphicon {text-decoration:none; color:#000}
.shop-product-list {margin-bottom: 20px; min-height: 335px;}
#shop .shop-condo-list {margin-bottom: 20px; min-height: 335px;}

#shop #open_all {color:#f6683a}

.per-page {display: inline-block; font-size: 14px;}
.per-page ul {list-style: none; display: inline-block; /*word-spacing: -3px;*/ margin: 0 10px 0 5px;}
.per-page ul li {display: inline-block; border: 1px solid #ccc; border-left: 0px;}
.per-page ul li:first-child {border-radius: 5px 0 0 5px; border-left: 1px solid #ccc;}
.per-page ul li:last-child {border-radius: 0 5px 5px 0;}
.per-page ul li a {display: inline-block; padding: 7px; color: #262626; text-decoration: none; font-size: 14px;}
.per-page ul li.active a {background-color: #ccc;}
.per-page.disabled a, .per-page.disabled .active a {pointer-events: none; background: #f2f2f2;}

.pagination-shop {display: block; margin: 10px 0; text-align: center; padding: 10px 0; border: 1px solid #e6e6e6; border-left: 0; border-right: 0;}
.pagination-shop a, .pagination-shop span {display: inline-block; color: #215584; font-size: 14px; border: 1px solid #CCC; padding: 7px 12px; text-align: center; height: 33px; margin: 0 5px; border-radius: 5px; text-decoration: none;}
.pagination-shop a.active, .pagination-shop span.active {color: #FFF; background-color: #527498; border-color: #527498;}
.pagination-shop .prev {margin-left:0px;/*min-width: 80px;*/}
.pagination-shop .next {margin-right:0px;/*min-width: 80px;*/}
.pagination-shop span.next, .pagination-shop span.prev {color: #ebebeb; border-color: #ebebeb;}
@media (max-width: 767px) {
    .pagination-shop .visible-xs {
        display: inline-block !important;
    }
}

.pagination_ajax {text-align:center}
.pagination_ajax div {padding:5px 0 0}
.pagination_ajax2 {text-align:center}
.pagination_ajax2 div {padding:5px 0 0}

.shop-product-list {border: 1px solid #e6e6e6; position:relative}
.shop-product-list .status {position:absolute; padding:5px 10px; text-transform:uppercase; top:10px; left:10px; color:#fff;}
.shop-product-list .status.New {background:#00A8F9}
.shop-product-list .status.Active {background:#00A8F9}
.shop-product-list .status.Sold {background:#F14952}
.shop-product-list .status.Contract {background:#7ADF50}
.shop-product-list .status.Reserved {background:#7ADF50}
.shop-product-list .status.Leased {background:#F14952}
.shop-product-list .status.Incomplete {background:#F14952}
.shop-product-list .status.Withdrawn {background:#F14952}
.shop-product-list .status.Rented {background:#F14952}
.shop-product-list .status.Closed.Sale {background:#F14952}
.shop-product-list .status.Off.Market {background:#F14952}


.shop-product-list .img {}
.shop-product-list .img img {width: 100%;}
.shop-product-list .info {padding: 10px;}
.shop-product-list .name {color: #215584; font-size: 16px; margin-bottom: 10px; display: block;
    /*text-overflow: ellipsis; overflow: hidden;white-space: nowrap;*/ }
.shop-product-list .price {color: #215584; font-size: 24px; font-weight: bold; margin-bottom: 10px;}
.shop-product-list .text {font-size: 14px;}
.shop-product-list .courtesy {color:#d6d6d6; font-size:10px}
.shop-product-list .open_house {padding: 10px; border-top:1px solid #e6e6e6; height:80px; color:#F55722; font-size:14px}

.shop-condo-list {border: 1px solid #e6e6e6;}
.shop-condo-list .img {}
.shop-condo-list .img img {width: 100%;}
.shop-condo-list .info {padding: 10px;}
.shop-condo-list .name {color: #215584; font-size: 16px; margin-bottom: 10px; display: block;
/*text-overflow: ellipsis; overflow: hidden; white-space: nowrap;*/}
.shop-condo-list .price {color: #215584; font-size: 24px; font-weight: bold; margin-bottom: 10px;}
.shop-condo-list .text {font-size: 14px;}

.page-text {margin-top: 20px;}

.shop-product-text {}
.shop-product-text .gallary {position:relative}
.shop-product-text .gallary img.main {width: 100%; margin-bottom: 10px;}
.shop-product-text .price {font: normal 28px/32px RobotoCRegular; margin-bottom: 18px; position: relative; top: 7px; margin-right: 15px; display: inline-block;}
.shop-product-text .price_box p {margin: 0;}
.shop-product-text .table tr:last-child td {border-bottom: 1px solid #ddd;}
.shop-product-text .carousel {margin-bottom: 15px;}
.shop-product-text .carousel ul {list-style: none;}
.shop-product-text .carousel ul li {display: inline-block; width: 15.38%; margin-right: 1.5%; margin-bottom: 10px;}
.shop-product-text .carousel ul li img {width: 100%;}
.shop-product-text .carousel ul li:nth-child(6n+6) {margin-right: 0;}
.shop-product-text .control-buttons {margin-bottom: 35px;}
.shop-product-text .control-buttons .btn {display: block;}
.shop-product-text .nav-tabs {text-align: center;}
.shop-product-text .nav-tabs > li { float: none; display: inline-block;}
.shop-product-text .nav > li > a  {font-size: 16px; font-family: RobotoRegular; background: none; border: 1px solid #ddd; text-transform: none; padding: 8px 16px;}
.shop-product-text .nav > li.active > a {font-family: RobotoBold; border-bottom-color: #FFF;}
.shop-product-text .text {margin-bottom: 35px;}
.shop-product-text .courtesy {/*color:#d6d6d6; */font-size:12px}
.shop-product-text .open_house {padding: 10px; border-radius:5px; border:2px solid #e6e6e6;}

.shop-product-text .gallary .status {position:absolute; padding:5px 10px; text-transform:uppercase; top:10px; left:10px; color:#fff;}
.shop-product-text .table-striped .status {float:right; padding:5px 10px; text-transform:uppercase; color:#fff;}
.shop-product-text .status.New {background:#00A8F9}
.shop-product-text .status.Active {background:#00A8F9}
.shop-product-text .status.Sold {background:#F14952}
.shop-product-text .status.Contract {background:#7ADF50}
.shop-product-text .status.Reserved {background:#7ADF50}
.shop-product-text .status.Leased {background:#F14952}
.shop-product-text .status.Incomplete {background:#F14952}
.shop-product-text .status.Withdrawn {background:#F14952}
.shop-product-text .status.Rented {background:#F14952}
.shop-product-text .status.Closed.Sale {background:#F14952}
.shop-product-text .status.Off.Market {background:#F14952}
.shop-product-text .text ul {padding:10px 0 10px 20px}
.shop-product-text .text ul li {}
.shop-product-text .text div {min-height:16px}
/*
.shop-product-text #3d {width:640px; height:480px}
@media (max-width: 1280px) {
    .shop-product-text #3d {width:1140px; height:855px}
}
*/

.shop-condo-text {}
.shop-condo-text .gallary img.main {width: 100%; margin-bottom: 10px;}
.shop-condo-text .price {font: normal 28px/32px RobotoCRegular; margin-bottom: 18px; /*top: 6px; position: relative; display: inline-block; margin-right: 10px;*/}
.shop-condo-text .price_box p {margin: 0;}
.shop-condo-text .table tr:last-child td {border-bottom: 1px solid #ddd;}
.shop-condo-text .carousel {margin-bottom: 15px;}
.shop-condo-text .carousel ul {list-style: none;}
.shop-condo-text .carousel ul li {display: inline-block; width: 15.38%; margin-right: 1.5%; margin-bottom: 10px;}
.shop-condo-text .carousel ul li img {width: 100%;}
.shop-condo-text .carousel ul li:nth-child(6n+6) {margin-right: 0;}
.shop-condo-text .control-buttons {margin-bottom: 35px;}
.shop-condo-text .control-buttons .btn {display: block;}
.shop-condo-text .nav-tabs {text-align: center;}
.shop-condo-text .nav-tabs > li { float: none; display: inline-block;}
.shop-condo-text .nav > li > a  {font-size: 16px; font-family: RobotoRegular; background: none; border: 1px solid #ddd; text-transform: none; padding: 8px 16px;}
.shop-condo-text .nav > li.active > a {font-family: RobotoBold; border-bottom-color: #FFF;}
.shop-condo-text .text {margin-bottom: 35px;}
.shop-condo-text .text ul {padding-left: 40px;}
.shop-condo-text .send-request {line-height: 34px;}
.shop-condo-text .send-request .btn {}

.shop-preconstraction-text .text h4 {margin-bottom: 30px; text-align: center; font-family: Georgia; font-style: italic; font-size: 32px; background: url("../images/h-line.png") scroll repeat-x 0 50% transparent;}
.shop-preconstraction-text .text h4 span {padding: 5px; background: #FFF;}

#map_view_content {height: 520px; display: none; margin-bottom: 35px;}

.news_list {margin-bottom: 25px;}
.news_list .date {display: inline-block; font-size: 11px;}
.news_list .name {display: inline-block; font-size: 18px;}

.wilkModal {}
.wilkModal .form {width: 70%; margin: 0 auto;}
.wilkModal input {text-align: center;}
.wilkModal label {font-weight: normal;}
.wilkModal .control-group {margin-bottom: 15px;}
.wilkModal .btn {min-width: 150px; margin: 0 auto;}
.wilkModal .modal-footer {text-align: center; border-top: 0px;}
.wilkModal .modal-content {padding: 30px;}
.wilkModal .modal-content {position: relative;}
.wilkModal .close {position: absolute; top: 10px; right: 10px; display: inline-block; width: 24px; height: 24px; content: ""; background: url("../images/icon-close.png") scroll no-repeat 0 0 transparent;}
.wilkModal .h3 {}

.menu-list {list-style: none; position: relative; }
.menu-list li {display: inline-block; margin-left: 5px;}
.menu-list li a {color: #fff; padding: 5px 10px 10px;}
.menu-list li.active a {color: #323232; background-color: #FFF;}

.states-tabs {list-style: none; margin: 0; position: relative; top: 3px;}
.states-tabs li {display: inline-block; margin-right: 5px;}
.states-tabs li a {color: #fff; padding: 5px 10px 10px;}
.states-tabs li.active a {color: #323232; background-color: #FFF;}

.switch-types {display: block; }
.switch-types .btn {/*width: 50%;*/ margin-bottom: 20px; float:none}

.btn-fb {background: #3a589e; border-color: #3a589e; color: #FFF;}
.btn-fb:hover {background: #6973b8; border-color: #6973b8; color: #FFF;}
.btn-li {background: #00659d; border-color: #00659d; color: #FFF;}
.btn-li:hover {background: #4991b8; border-color: #4991b8; color: #FFF;}
.btn-tw {background: #5da8e2; border-color: #5da8e2; color: #FFF;}
.btn-tw:hover {background: #80c8ff; border-color: #80c8ff; color: #FFF;}
.btn-gl {background: #db4b38; border-color: #db4b38; color: #FFF;}
.btn-gl:hover {background: #ff7866; border-color: #ff7866; color: #FFF;}

.social-header {background: none; margin-top: 25px;}

.widget-nbs {padding: 10px 0 20px; border-top: 1px solid #e6e6e6; }
.widget-nbs .tab-pane {margin: 0;}

#cities-ul {list-style: none; margin: 0 0 20px 0;}
#cities-ul li {display: block; white-space: nowrap; text-overflow: ellipsis; text-transform: uppercase;}
#cities-ul li a {color: #262626; display: block; padding: 2px 0; position: relative; margin-bottom: 5px;}
#cities-ul li a:hover {color: #f6693c;}
#cities-ul li.active a {color: #FFF; background-color: #205484; text-decoration: none;}
#cities-ul li.active a:before {display: block; position: absolute; top: 0; left: -5px; width: 5px; height: 100%; content: ""; background-color: #205484;}
#cities-ul li.active a:after {display: block; position: absolute; top: 0; right: -5px; width: 0px; height: 0; content: ""; border-bottom: 12px solid #fff;    border-left: 11px solid #205484;    border-top: 12px solid #fff;}

.nbs-ul {list-style: none; margin: 0;}
.nbs-ul li {display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.nbs-ul li a {color: #262626; display: block; margin-bottom: 5px;}
.nbs-ul li.active a, .nbs-ul li a:hover {color: #f6693c;}

.widget-nbs .nbs-ul li a {color: #205484; padding: 2px 4px 4px;}
.widget-nbs .nbs-ul li.active a {color: #fff; background: #205484;}
.widget-nbs .nbs-ul li a:hover {text-decoration: underline;}

/*select#location {display: none;}*/

.breadcrumb {background: #fff; padding: 10px 0; margin-bottom: 0; border-top: 1px solid #e6e6e6; /*border-bottom: 1px solid #e6e6e6;*/}
.breadcrumb a, .breadcrumb span {color: #262626; margin: 0 5px;}

.table.wo_lines > thead > tr > th, .table.wo_lines > tbody > tr > th, .table.wo_lines > tfoot > tr > th, .table.wo_lines > thead > tr > td, .table.wo_lines > tbody > tr > td, .table.wo_lines > tfoot > tr > td {border-top: 0px solid #ddd;}
.table.wo_lines > thead > tr:first-child > th, .table.wo_lines > tbody > tr:first-child > th, .table.wo_lines > tfoot > tr:first-child > th, .table.wo_lines > thead > tr:first-child > td, .table.wo_lines > tbody > tr:first-child > td, .table.wo_lines > tfoot > tr:first-child > td {border-bottom: 2px solid #ddd; background: #fff;}

header .bg-dark .btn-white-bordered:hover {background: #fff; color: #000;}

/*#feedback {padding-top: 35px; border-top: 1px solid #e6e6e6;}*/
#feedback .breadcrumb, #pages .breadcrumb {margin-bottom: 15px; border-bottom: 1px solid #e6e6e6;}
#feedback form input, #feedback form textarea {background-color: #fbfbbf; border: 1px solid #3d6883;}
#feedback form input:focus, #feedback form textarea:focus {background-color: #d0ecf2; border: 1px solid blue;}

#pages h1 {font: italic 32px Georgia; text-align: center; padding:0px; margin:0px 0 15px }

.ui-autocomplete {overflow: auto; max-height:200px}

.sitemap {}
.sitemap_col {padding-bottom:20px; font-size:11px;}
.sitemap_col strong {font-size:14px;}
footer .sitemap_col a {color:#fff;}
.sitemap_col>a {font-weight:bold; font-size:12px}