html,
body,
div,
span,
h1,
a,
img,
ul,
li,
form,
label {
    margin: 0;
    padding: 0;
    outline: 0;
    background: transparent;
}

:focus {
    outline: 0;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

header,
section {
    display: block;
}

a {
    background-color: transparent;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

img {
    border: 0;
}

button,
input,
select {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/templates/fonts/glyphicons-halflings-regular.eot');
    src: url('/templates/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('/templates/fonts/glyphicons-halflings-regular.woff2') format('woff2'),url('/templates/fonts/glyphicons-halflings-regular.woff') format('woff'),url('/templates/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('/templates/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-th:before {
    content: "\e011";
}

.glyphicon-arrow-up:before {
    content: "\e093";
}

.glyphicon-arrow-down:before {
    content: "\e094";
}

.glyphicon-globe:before {
    content: "\e135";
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

input,
button,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1,
.h3 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

.h3 {
    font-size: 24px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul ul {
    margin-bottom: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-md-2,
.col-md-3,
.col-sm-4,
.col-md-4,
.col-xs-6,
.col-md-6,
.col-lg-6,
.col-sm-8,
.col-md-8,
.col-md-10,
.col-xs-12,
.col-sm-12,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-6,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-6 {
    width: 50%;
}

@media (min-width:768px) {
    .col-sm-4,
    .col-sm-8,
    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }
}

@media (min-width:992px) {
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-6,
    .col-md-8,
    .col-md-10,
    .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }
}

@media (min-width:1200px) {
    .col-lg-6 {
        float: left;
    }

    .col-lg-6 {
        width: 50%;
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

select[multiple],
select[size] {
    height: auto;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.fade {
    opacity: 0;
}

.fade.in {
    opacity: 1;
}

.collapse {
    display: none;
    visibility: hidden;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.tab-content>.tab-pane {
    display: none;
    visibility: hidden;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

@media (min-width:768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    -webkit-overflow-scrolling: touch;
}

@media (min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

@media (min-width:768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

@media (min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav>li {
        float: left;
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

button.close {
    padding: 0;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
}

.container:before,
.container:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.container:after,
.row:after,
.nav:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-footer:after {
    clear: both;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

@-ms-viewport {
    width: device-width;
}

.visible-xs {
    display: none !important;
}

@media (max-width:767px) {
    .visible-xs {
        display: block !important;
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none !important;
    }
}

@font-face {
    font-family: RobotoRegular;
    src: url(/templates/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoCRegular;
    src: url(/templates/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

html,
body {
    font: 16px/20px RobotoRegular;
    color: #262626;
}

.btn-light-gray-bordered {
    border: 1px solid #999;
    border-radius: 5px;
    color: #999;
    /*min-width: 110px;*/
    padding: 2px;
}

.btn-white-bordered {
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    min-width: 110px;
    padding: 2px;
}

.bg-dark {
    background-color: #323232;
    color: #fff;
}

header {
    margin-bottom: 15px;
}

header .bg-dark {
    padding: 5px 0;
    margin-bottom: 25px;
}

header .menu-list {
    margin: 3px 20px 0 0;
    display: inline-block;
}

.phone-top {
    padding: 0 10px 0 25px;
    font-size: 20px;
    font-family: RobotoCRegular;
    background: url("/templates/images/icon-talk2.png") scroll no-repeat 0 50% transparent;
    position: relative;
    top: 3px;
}

#menu {
    margin-top: 12px;
    position: relative;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline-block;
    position: relative;
    padding: 2px 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #4c4c4c;
    font-family: RobotoCRegular;
    font-size: 18px;
    white-space: nowrap;
    padding: 0 0 5px;
}

#menu ul.l2 {
    display: none;
    background: #fff;
}

.navbar-toggle {
    border-color: #ddd;
    float: left;
    margin-left: 15px;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.h3 {
    margin-bottom: 30px;
    text-align: center;
    font-family: Georgia;
    font-style: italic;
    font-size: 32px;
    background: url("/templates/images/h-line.png") scroll repeat-x 0 50% transparent;
}

.h3 span {
    padding: 5px;
    background: #FFF;
}

.menu_mobile .nav > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    padding: 5px;
}

.menu_mobile .nav > li.l2 {
    padding-left: 15px;
}

.tab-content > .tab-pane {
    margin: 25px auto;
    width: 95%;
}

#search-offers {
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding-top: 35px;
}

#search-offers label {
    font-weight: normal;
}

#search-offers .form-control {
    margin-bottom: 15px;
}

.btn-warning {
    background-color: #f6693c;
    border-color: #f6693c;
    color: #fff;
}

#offers-list #types-tab ul {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    word-spacing: -5px;
}

#offers-list #types-tab li {
    display: inline-block;
}

#offers-list #types-tab li a {
    color: #FFF;
    padding: 5px 10px;
    font-size: 16px;
    font-family: RobotoRegular;
    text-transform: uppercase;
    border: 1px solid #205484;
    text-decoration: none;
    min-width: 80px;
    display: block;
    text-align: center;
}

#offers-list #types-tab li:first-child a {
    border-radius: 5px 0 0 5px;
}

#offers-list #types-tab li:last-child a {
    border-radius: 0px 5px 5px 0px;
}

#offers-list #regions-list ul {
    list-style: none;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-count: 4;
}

@media (max-width: 750px) {
    #offers-list #regions-list ul {
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-count: 2;
    }
}

#offers-list #regions-list li {
    margin-bottom: 10px;
}

#offers-list #regions-list li a {
    color: #FFF;
}

#footer form input {
    width: 100%;
    margin-bottom: 20px;
    background-color: #1a446b;
    border: 0;
    color: #FFF;
}

section {
    padding-bottom: 35px;
}

#shop h1 {
    font: italic 32px/42px Georgia;
    padding: 0px;
    margin: 20px 0 20px;
}

#shop .page-filter {
    font-size: 14px;
    padding: 10px 0;
    border: 1px solid #e6e6e6;
    border-left: 0;
    border-right: 0;
    margin-bottom: 20px;
}

#shop .page-filter .control-group {
    position: relative;
    top: 7px;
}

#shop .page-filter label {
    font-weight: normal;
}

#shop .page-filter .btn {
    border-radius: 5px;
    padding: 7px;
    position: relative;
    top: -1px;
    border: 1px solid #ccc;
    color: #262626;
    margin-left: 10px;
}

#shop .page-filter .btn.active {
    background-color: #ccc;
    box-shadow: none;
    border: 1px solid #ccc;
    color: #262626;
}

#shop .page-filter .glyphicon {
    text-decoration: none;
    color: #000;
}

.shop-product-list {
    margin-bottom: 20px;
    min-height: 335px;
}

#shop #open_all {
    color: #f6683a;
}

.per-page {
    display: inline-block;
    font-size: 14px;
}

.per-page ul {
    list-style: none;
    display: inline-block;
    /*word-spacing: -3px;*/
    margin: 0 10px 0 5px;
}

.per-page ul li {
    display: inline-block;
    border: 1px solid #ccc;
    border-left: 0px;
}

.per-page ul li:first-child {
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #ccc;
}

.per-page ul li:last-child {
    border-radius: 0 5px 5px 0;
}

.per-page ul li a {
    display: inline-block;
    padding: 7px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
}

.per-page ul li.active a {
    background-color: #ccc;
}

.pagination-shop a,
.pagination-shop span {
    display: inline-block;
    color: #215584;
    font-size: 14px;
    border: 1px solid #CCC;
    padding: 7px 12px;
    text-align: center;
    height: 33px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
}

.pagination-shop .prev {
    margin-left: 0px;
    /*min-width: 80px;*/
}

.pagination-shop .next {
    margin-right: 0px;
    /*min-width: 80px;*/
}

.pagination-shop span.prev {
    color: #ebebeb;
    border-color: #ebebeb;
}

@media (max-width: 767px) {
    .pagination-shop .visible-xs {
        display: inline-block !important;
    }
}

.shop-product-list {
    border: 1px solid #e6e6e6;
    position: relative;
}

.shop-product-list .status {
    position: absolute;
    padding: 5px 10px;
    text-transform: uppercase;
    top: 10px;
    left: 10px;
    color: #fff;
}

.shop-product-list .status.New {
    background: #00A8F9;
}

.shop-product-list .img img {
    width: 100%;
}

.shop-product-list .info {
    padding: 10px;
}

.shop-product-list .name {
    color: #215584;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    /*text-overflow: ellipsis; overflow: hidden;white-space: nowrap;*/
}

.shop-product-list .price {
    color: #215584;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.shop-product-list .text {
    font-size: 14px;
}

.shop-product-list .courtesy {
    color: #d6d6d6;
    font-size: 10px;
}

.wilkModal .form {
    width: 70%;
    margin: 0 auto;
}

.wilkModal input {
    text-align: center;
}

.wilkModal label {
    font-weight: normal;
}

.wilkModal .control-group {
    margin-bottom: 15px;
}

.wilkModal .btn {
    min-width: 150px;
    margin: 0 auto;
}

.wilkModal .modal-footer {
    text-align: center;
    border-top: 0px;
}

.wilkModal .modal-content {
    padding: 30px;
}

.wilkModal .modal-content {
    position: relative;
}

.wilkModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    content: "";
    background: url("/templates/images/icon-close.png") scroll no-repeat 0 0 transparent;
}

.menu-list {
    list-style: none;
    position: relative;
}

.menu-list li {
    display: inline-block;
    margin-left: 5px;
}

.menu-list li a {
    color: #fff;
    padding: 5px 10px 10px;
}

.states-tabs {
    list-style: none;
    margin: 0;
    position: relative;
    top: 3px;
}

.states-tabs li {
    display: inline-block;
    margin-right: 5px;
}

.states-tabs li a {
    color: #fff;
    padding: 5px 10px 10px;
}

.states-tabs li.active a {
    color: #323232;
    background-color: #FFF;
}

.widget-nbs {
    padding: 10px 0 20px;
    border-top: 1px solid #e6e6e6;
}

.widget-nbs .tab-pane {
    margin: 0;
}

#cities-ul {
    list-style: none;
    margin: 0 0 20px 0;
}

#cities-ul li {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

#cities-ul li a {
    color: #262626;
    display: block;
    padding: 2px 0;
    position: relative;
    margin-bottom: 5px;
}

#cities-ul li.active a {
    color: #FFF;
    background-color: #205484;
    text-decoration: none;
}

#cities-ul li.active a:before {
    display: block;
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    content: "";
    background-color: #205484;
}

#cities-ul li.active a:after {
    display: block;
    position: absolute;
    top: 0;
    right: -5px;
    width: 0px;
    height: 0;
    content: "";
    border-bottom: 12px solid #fff;
    border-left: 11px solid #205484;
    border-top: 12px solid #fff;
}

.nbs-ul {
    list-style: none;
    margin: 0;
}

.nbs-ul li {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nbs-ul li a {
    color: #262626;
    display: block;
    margin-bottom: 5px;
}

.widget-nbs .nbs-ul li a {
    color: #205484;
    padding: 2px 4px 4px;
}

.breadcrumb {
    background: #fff;
    padding: 10px 0;
    margin-bottom: 0;
    border-top: 1px solid #e6e6e6;
    /*border-bottom: 1px solid #e6e6e6;*/
}

.breadcrumb a {
    color: #262626;
    margin: 0 5px;
}

#feedback form input {
    background-color: #fbfbbf;
    border: 1px solid #3d6883;
}