html,
body,
div,
span,
h1,
h2,
p,
a,
img,
ul,
li,
form,
label {
    margin: 0;
    padding: 0;
    outline: 0;
    background: transparent;
}

:focus {
    outline: 0;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

header,
section {
    display: block;
}

a {
    background-color: transparent;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

img {
    border: 0;
}

button,
input {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1,
h2,
.h3 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1,
h2,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

.h3 {
    font-size: 24px;
}

p {
    margin: 0 0 10px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-md-4,
.col-md-6,
.col-lg-6,
.col-md-8,
.col-xs-12,
.col-sm-12,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

@media (min-width:768px) {
    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width:992px) {
    .col-md-4,
    .col-md-6,
    .col-md-8,
    .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }
}

@media (min-width:1200px) {
    .col-lg-6 {
        float: left;
    }

    .col-lg-6 {
        width: 50%;
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.fade {
    opacity: 0;
}

.collapse {
    display: none;
    visibility: hidden;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

@media (min-width:768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    -webkit-overflow-scrolling: touch;
}

@media (min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

@media (min-width:768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

@media (min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav>li {
        float: left;
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

button.close {
    padding: 0;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.nav:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-footer:after {
    clear: both;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

@-ms-viewport {
    width: device-width;
}

.visible-xs,
.visible-sm {
    display: none !important;
}

@media (max-width:767px) {
    .visible-xs {
        display: block !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block !important;
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none !important;
    }
}

@font-face {
    font-family: RobotoRegular;
    src: url(/templates/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoCRegular;
    src: url(/templates/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

html,
body {
    font: 16px/20px RobotoRegular;
    color: #262626;
}

.btn-white-bordered {
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    min-width: 110px;
    padding: 2px;
}

.bg-dark {
    background-color: #323232;
    color: #fff;
}

header {
    margin-bottom: 15px;
}

header .bg-dark {
    padding: 5px 0;
    margin-bottom: 25px;
}

header .menu-list {
    margin: 3px 20px 0 0;
    display: inline-block;
}

.phone-top {
    padding: 0 10px 0 25px;
    font-size: 20px;
    font-family: RobotoCRegular;
    background: url("/templates/images/icon-talk2.png") scroll no-repeat 0 50% transparent;
    position: relative;
    top: 3px;
}

#menu {
    margin-top: 12px;
    position: relative;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline-block;
    position: relative;
    padding: 2px 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #4c4c4c;
    font-family: RobotoCRegular;
    font-size: 18px;
    white-space: nowrap;
    padding: 0 0 5px;
}

.navbar-toggle {
    border-color: #ddd;
    float: left;
    margin-left: 15px;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

#cities_index .city {
    height: 390px;
    padding: 50px;
}

#cities_index .info {
    width: 100%;
    height: 280px;
    padding: 100px 0;
    background-color: rgba(0,0,0,0.3);
    color: #FFF;
    text-align: center;
    border: 2px solid #FFF;
    margin: auto;
    position: relative;
    font-family: Georgia;
    font-size: 28px;
    font-style: italic;
}

#cities_index .info .name {
    padding-top: 64px;
    line-height: normal;
}

#cities_index .info .cities_index_search {
    position: absolute;
    bottom: -17px;
    width: 100%;
    left: 0px;
    text-align: center;
}

#cities_index .info .btn {
    width: 200px;
    font: normal 14px/18px Roboto;
    text-transform: uppercase;
}

.h3 {
    margin-bottom: 30px;
    text-align: center;
    font-family: Georgia;
    font-style: italic;
    font-size: 32px;
    background: url("/templates/images/h-line.png") scroll repeat-x 0 50% transparent;
}

.h3 span {
    padding: 5px;
    background: #FFF;
}

.menu_mobile .nav > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    padding: 5px;
}

.menu_mobile .nav > li.l2 {
    padding-left: 15px;
}

.btn-warning {
    background-color: #f6693c;
    border-color: #f6693c;
    color: #fff;
}

.btn-success {
    background-color: #7adf50;
    border-color: #7adf50;
    color: #fff;
}

#offers-list #types-tab ul {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    word-spacing: -5px;
}

#offers-list #types-tab li {
    display: inline-block;
}

#offers-list #types-tab li a {
    color: #FFF;
    padding: 5px 10px;
    font-size: 16px;
    font-family: RobotoRegular;
    text-transform: uppercase;
    border: 1px solid #205484;
    text-decoration: none;
    min-width: 80px;
    display: block;
    text-align: center;
}

#offers-list #types-tab li:first-child a {
    border-radius: 5px 0 0 5px;
}

#offers-list #types-tab li:last-child a {
    border-radius: 0px 5px 5px 0px;
}

#offers-list #regions-list ul {
    list-style: none;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-count: 4;
}

@media (max-width: 750px) {
    #offers-list #regions-list ul {
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-count: 2;
    }
}

#offers-list #regions-list li {
    margin-bottom: 10px;
}

#offers-list #regions-list li a {
    color: #FFF;
}

#footer form input {
    width: 100%;
    margin-bottom: 20px;
    background-color: #1a446b;
    border: 0;
    color: #FFF;
}

section {
    padding-bottom: 35px;
}

#index {
    padding-bottom: 0;
}

.wilkModal .form {
    width: 70%;
    margin: 0 auto;
}

.wilkModal input {
    text-align: center;
}

.wilkModal label {
    font-weight: normal;
}

.wilkModal .control-group {
    margin-bottom: 15px;
}

.wilkModal .btn {
    min-width: 150px;
    margin: 0 auto;
}

.wilkModal .modal-footer {
    text-align: center;
    border-top: 0px;
}

.wilkModal .modal-content {
    padding: 30px;
}

.wilkModal .modal-content {
    position: relative;
}

.wilkModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    content: "";
    background: url("/templates/images/icon-close.png") scroll no-repeat 0 0 transparent;
}

.menu-list {
    list-style: none;
    position: relative;
}

.menu-list li {
    display: inline-block;
    margin-left: 5px;
}

.menu-list li a {
    color: #fff;
    padding: 5px 10px 10px;
}

.states-tabs {
    list-style: none;
    margin: 0;
    position: relative;
    top: 3px;
}

.states-tabs li {
    display: inline-block;
    margin-right: 5px;
}

.states-tabs li a {
    color: #fff;
    padding: 5px 10px 10px;
}

.states-tabs li.active a {
    color: #323232;
    background-color: #FFF;
}

#feedback form input {
    background-color: #fbfbbf;
    border: 1px solid #3d6883;
}

footer .sitemap_col a {
    color: #fff;
}