html, body , table {font: 14px/17px RobotoRegular;}
.shop-product-text .price {}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 3px;
	line-height: 1.3;
}