body{margin-top:0px;  background: #999999;font-family:helvetica, arial, sans; font-size:12px; color:#000; text-decoration:none; }
.header, .content, .footer{
        margin: 0 auto;
}

.content a, .footer a{ color:#d9b266; text-decoration:none; }
.content a:hover, .footer a:hover{}

.content{background:#fff;}
.header-block{border:0px solid #959595;background:#205484;width:100%;font-size: 11px;}

.content{margin-top:0px;width:auto;border:1px solid #959595;border-top:0px solid #959595; background:#fff;}
/*  HEADER  */
/*------------------------------------------------------*/
.mainHeader
{
    height:80px;
}

#header-logo
{
    float: left;
     margin-left: 0px;
}

#header-site
{
    margin-top: 5px;
    margin-left: 0px;
    float: left;
    width:460px;
    height: 83px;
}
#header-contact
{
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    text-align:right;
    font-size:15px; color:#fff;
}
#login
{
font-size:12px;
   float: right;
        margin-top:25px;


}
#login a
{
        color:#fff;
}
#loginbock
{
        background: #3B3B3B;
        width:315px;
        height:220px;
        display:none;
        position: absolute;
        top:82px;

                right:0;
        z-index:10000;

             font-size: 13px;
                             color: #E2E2E2;
                             text-align:center;
}
/*CSS MENU */
#navPanel
{
   background:url(nav_bgr.gif) repeat-x #272526;
    height: 34px;
    position: relative;
    margin:0;
    padding-left:37px;
    border-bottom:0px solid #A42432;
}

#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
  z-index:1000;
}
#cssmenu {
  height: 34px;
  border-bottom: 0px solid #000;
    z-index:1000;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
    z-index:1000;
}
#cssmenu a {
  color: #ffffff;
  display: inline-block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 13px;
  font-weight:normal;
  line-height: 32px;
  padding: 0 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}

#cssmenu > ul > li:first-child a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu > ul > li:last-child a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active a {
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;

}
#cssmenu > ul > li:hover > a {
  text-decoration:underline;

}
#cssmenu .has-sub {
  z-index: 1000;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #891D38;
  border-bottom: 1px dotted #ec9f6f;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
#cssmenu .has-sub ul li:hover a {
  background: #b04b0c;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #b04b0c;
  border-bottom: 1px dotted #d0936d;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #803709;
}

 #oh_menu a
{
 text-decoration: none;
}
#oh_menu a:hover
{
 text-decoration: underline;

}






.marginbottom a{ border-bottom:none; font-weight:bold}
.marginbottom{margin-bottom:8px; clear:left;}
.footer{ clear:both; background-color:#205484; margin-bottom:0px;font-size:11px; color:#fff; border-top:3px #fff; text-align:center; padding:5px 0;}
.bfooter{ clear:both; background-color:#205484; margin-bottom:0px;font-size:11px; color:#fff; border-top:3px #fff; text-align:center; padding:5px 0;border-bottom: 1px solid #fff;}

.floatfix,.clear{clear:both;}






li.headlink ul { display: none; }
li.headlink:hover ul { display: block; }
#nav li ul li a {font-size:12px;}



#middleColumn
{


    text-align:left;


}
#leftColumn
{

    float:left;
     width:232px;
    margin-left: 0px;
     border-right:1px solid #CECECE;
     background:url(qsearch_bgr.gif) repeat-x #4C0201;

}
#rightColumn
{

   float:left;
   
    border:0px solid;
        position: relative;
          margin-right: 0px;
           margin-bottom: 0px;
           padding:0px;
           padding-top:0px;
            background:#fff;
}
.navlink
{

    border:0px solid #960E0E;
    width:232px;
    height:22px;
    margin-top:0px;

}
.common-cont
{
    border:1px solid #337A99;
    background:#fff;
      text-align:left;
}
#mainpage-text
{
        padding:4px;border:1px solid #959595;background:#161616;color:#FFF;
}
#mainpage-text2
{
        padding:4px;border:1px solid #959595;background:#fff;color:#000;
}
.page
{
        background:#fff;padding:4px 4px 4px 4px;border:0px solid #959595;
}
.cont-block
{
        background:#161616;padding:4px;border:0px solid #959595;color:#FFF;
}
.cont-block2
{
        background:#161616;padding:4px;border:1px solid #959595;color:#FFF;
}
#featured_top {background: #205484;height:32px;width:auto; border-top: 1px solid #FFF;}
#qsearch_title{margin-top:8px;margin-left:34px;background: url(btn/qsearch_title.gif) no-repeat;width:230px;height:24px;float:left;}
#featured_title{margin-top:8px;margin-right:154px;background: url(btn/featured_title.gif) no-repeat;width:300px;float:right;height:32px;}
#neighborhood_block {background: #727272;width:auto; border-top: 1px solid #FFF;font-size:11px; color:#fff;}
.neighb{padding-left:80px;padding-top:3px;float:left;}
.neighb a,.f-s a,.ptype-links a,.powered a{font-size:11px; color:#fff; text-decoration:none;}
.ptype-links{float:left;}
.yellow_link a{font-size:11px; color:#E0B761; text-decoration:none;}
.savelist-links a{font-size:12px; color:#0000FF; text-decoration:none;}
.f-s a{font-size:11px; color:#fff;text-decoration:none;}
.f-s a:hover{text-decoration:underline;}
.powered {text-align:left;font-size:11px; color:#fff;}
.contact-block-cont
{
margin-left:auto;
margin-right:auto;
    float: left;
     text-align:center;
     width:50%;
}
.contact-block
{

    margin: 15px;
margin-left:auto;
margin-right:auto;
    background:#fff;
    width:492px;
    min-height: 450px;
    border:1px solid #000;
      text-align:left;
}
.formbgr
{

background-color: #D0ECF2 !important;
border: 1px solid blue ;
}
input.formbgr { border: 1px solid blue; }
textarea.formbgr { border: 1px solid blue; }
#send-agent-btn {
    cursor: pointer; cursor: hand;
    margin-left:0px;
}
#contactBlock
{
            width:100%;
    border:0px solid #D3D3D3;

    text-align:left;
}
.input
{
                             font-family: Arial, Helvetica, sans-serif, Verdana;
                             font-size: 12px;
                             color: #000;
                             background-color:#FFF;
                             font-weight: normal;
                             padding:3px;
                             border:1px solid #99302B;
}
.input2
{
                             font-family: Arial, Helvetica, sans-serif, Verdana;
                             font-size: 12px;
                             color: #3D6883;
                             font-weight: normal;
                             background-color:#FBFBBF;
                             padding:3px;
                             border:1px solid #3D6883;
}
/* Custom CSS Document */


#bottom_line {
        height:1px;
        color: #7B3432;
        background-color: #747474;
        border:none;
        padding:0;
        margin:6px;

}
.our_title           {font-family: Arial, Helvetica, sans-serif;
                           font-size: 12px;
                           font-weight: bold;
                           color: #F9F9F9;
                           font-style: italic;
                           text-decoration: none;
                           padding: 5px   }
.featured_listings           {        font-family: Arial, Helvetica, sans-serif;
                           font-size: 11px;
                           font-weight: normal;
                           color: #646464;
                           text-decoration: none;
                           padding-left: 0px   }
.border_pic        { border:1px solid;
                     border-style: solid;
                             border-color: #000000;    }
.white_border_pic        {         border-style: solid;
                             border-color: #FFF;    }
.save           {         font-family: Geneva, Arial, Helvetica, sans-serif;
                          font-size: 11px;
                          font-weight:  normal;
                          color: #666666;
                          text-decoration: none   }
.listing_info,.listing_description        {       font-family: verdana, Arial, Helvetica, sans-serif;
                             font-size: 11px;
                             font-weight: normal;
                             color: #333 !important;
                             text-align: left;
                             text-decoration: none;
padding-left: 3px;
                             text-indent: 3px   }
.header        {       font-family: verdana, Arial, Helvetica, sans-serif;
                             font-size: 11px;
                             font-weight: normal;
                             color: #333 !important;
                             text-align: left;
                             text-decoration: none;
padding-left: 1px;
padding-bottom: 2px;
                             text-indent: 3px   }
.listing_info        {
                             background: #F9F9FA;
                           }

.calculator2        {       font-family: verdana, Arial, Helvetica, sans-serif;
                             font-size: 11px;
                             font-weight: normal;
                             color: #676767;
                             text-decoration: none;
                             background: #E8E8E8;
                             text-indent: 4px   }
.listing_info a     {       font-family: verdana, Arial, Helvetica, sans-serif;
                            font-size: 11px;
                            font-weight: bold;
                            color: #606235;
                            text-decoration: none;
                            background: #ffffff;
                            padding-left: 0px   }


.listing_info a:hover  {    font-family: verdana, Arial, Helvetica, sans-serif;
                            font-size: 11px;
                            font-weight: bold;
                            color: #aa663c;
                            text-decoration: none;
                            background: #ffffff;
                            text-indent: 0px     }

.listing_header            {        font-family: Geneva, arial, verdana, Helvetica, sans-serif;
                            font-size: 12px;
                            color: #fff;
                            font-weight: bold;
                            text-decoration: none;
                                                        text-align: left;
                            background: #000;
                            border:1px solid #fff;
                            padding-left: 2px;
                          padding-left: 4px      }
.contact_header            {        font-family: Geneva, arial, verdana, Helvetica, sans-serif;
                            font-size: 12px;
                            color: #fff;
                            font-weight: bold;
                            text-decoration: none;
                            padding-left: 6px;
                                                        text-align: left;    }
.listing_neighb_panel        {
                            font-family: Geneva, arial, verdana, Helvetica, sans-serif;
                            font-size: 12px;
                            color: #333333;
                            font-weight: bold;
                            text-decoration: none;
                            background: #EFEFEF;
                            border-bottom:0px solid #666666;
                            padding: 4px      }

.table                {     background: #666666;   }
.table_listing_info   {     background: #D1D1D1;   }




.input_2             {        font-family: verdana, Arial, Helvetica, sans-serif;
                            font-size: 10px;
                            background-color: #EFEFEF;  }
.tfvHighlight      {
                     font-family: Verdana, Arial, Helvetica, sans-serif;
                     font-size: 10px;
                     background: #EFEFEF;
                     color: red; border: 1px solid red   }


.tfvNormal         {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 11px;
                    color: #333333;
                            background: #EFEFEF;
          }
.inputbox          {        font-family: Verdana, Arial, Helvetica, sans-serif;
                            font-size: 11px;
                            color: #333333;
                            background: #E8E8E8;
                            text-indent: 0px    }

.page_header       {            font-family: verdana, Arial, Helvetica, sans-serif;
                           font-size: 14px;
                           font-weight: bold;
                           color: #3E3E3E;
                           text-decoration: none; }

.search           {         font-family: Arial, verdana, Helvetica, sans-serif;
                            font-size: 12px;
                            font-weight: normal;
                            color: #fff;
                            text-decoration: none;
                            text-indent: 4px;
                             background: none;   }
.searchboxes      {         font-family: Verdana, Arial, Helvetica, sans-serif;
                            font-weight: normal;
                            font-size: 9px;
                            color: #666666;
                            background-color: #EEEEEE;
                            text-decoration: none   }
#agents-list {
       background: url(agents_bgr.gif) repeat-y;
       width:779px;
       margin-left:3px;

}
.agents-list-title {
       background: #E6E6E6;
       margin:3px;
       color:#7B7164;
       font-size: 12px;
}
 .box-title-cont {
       background: url(page_title_bgr.gif) no-repeat;

}
 .box-title {
        padding-left: 1px;
        padding-top: 3px;
        padding-bottom: 0px;
                                 font-family: Arial, verdana, Helvetica, sans-serif;
                         font-size: 17px;
                         font-weight: bold;
                         color: #6E6E6E;
                         text-align:left;


}
#btn_block{
  display: block;
  font: bold 15px Helvetica, arial, sans-serif;
  color: #F4F4F4;
  text-decoration: none;
  background: url(btn/search_btn.gif) top right no-repeat;
text-align:center;
  padding-top: 20px;
  margin-left: 2px;
  width:235px;
  height:104px;
  outline: none;

}

.results           {        font-family: Verdana,Arial, Helvetica, sans-serif;
                            font-size: 11px;
                            color: #888888;
                            font-weight: bold;
                            text-decoration: none;
                            padding-right: 4px;
                            padding-left: 4px    }



.results A:link     {       font-family: Verdana,Arial, Helvetica, sans-serif;
                            font-size: 11px;
                            color: #7C8BDE;
                            font-weight: bold;
                            text-decoration: none;
                            padding-right: 4px;
                            padding-left: 4px    }


.results A:hover    {       font-family: Verdana,Arial,Helvetica, sans-serif;
                            font-size: 11px;
                            color: #f4a52c;
                            font-weight: bold;
                            text-decoration: none;
                            padding-right: 4px;
                            padding-left: 4px    }

.listing_menu       {    font-family:  Geneva, Arial, Helvetica, sans-serif;
                         font-size: 11px;
                         font-weight: bold;
                         color: #ffffff;
                         text-decoration: none;
                            background: #000;
                         padding-left: 4px   }

.searchform_row          {   font-family: sans-serif, Times, Times New Roman, Georgia;
                             font-size: 12px;
                             color:#333;
                             background:#fff;
                             padding-left: 4px         }

#idx_disclaimer        {       font-family: verdana, Arial, Helvetica, sans-serif;
                             font-size: 10px;
                             font-weight: normal;
                             color: #b0a9a9;
                             text-decoration: none;
                             background: #fffffd;
                             text-align:left;
                             text-indent: 0px   }
#bottom_copyright
{
     margin-top:0px;
      text-decoration: none;
     color: #E9E9E9;
     font-family: Helvetica,Arial,sans-serif;
     font-size : 10px;
     font-weight: bold;
     text-align:center;

}

#bottom_copyright  a
{
     text-decoration: none;
     padding: 1px;
     color: #EE8460;
     font-family: Arial,sans-serif;
     font-weight: bold;
     font-size : 11px;

}
#bottom_copyright a:hover
{
 color: #F7576B;
}
#bottom_realtor {
 padding-top:18px;
 padding-bottom:18px;
 text-align:center;

}
#bottom_block a
{
 text-decoration: none;
}
#bottom_block a:hover
{
 text-decoration: underline;
 color: #E4E4E4;
}
.more_link A     {
                             color: #D20000;
                             text-decoration: none;
 }
.more_link A:visited     {
                                                         color: #D20000;
                             text-decoration: none;
 }
 .more_link a:hover       {
                            text-decoration: underline;
 }
 .loginblock input { margin-top:2px; font-family: Verdana, Arial, Helvetica, sans-serif;
                             font-size: 13px;
                             color: #808080;
                             background: #fff;
                                  font-weight: normal;
                             padding:3px;
                             text-indent: 4px;

                             height:25px; overflow-x:hidden; padding:2px 0 2px 4px; text-align:left }
.bottom_menu         {       font-weight: normal;
                             font-size: 9px;
                             color: #42440e;
                             font-family: Verdana, Arial, Helvetica, sans-serif;
                             text-decoration: none   }